<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucsb.cs185.carlygracelarsson.cookey">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewPhotos"
            android:label="@string/view_photos_activity"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CompletedRecipes"
            android:label="@string/completed_recipes_activity"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RecipePhotos"
            android:label="@string/saved_recipes_activity"
            android:parentActivityName=".ViewPhotos"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SavedRecipes"
            android:label="@string/saved_recipes_activity"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SettingsPage"
            android:label="@string/action_settings"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait"/>
        <activity android:name=".CongratsPage"/>
        <activity android:name=".ScrollingActivity"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
